# Execution ARNs

```text

'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:7746b3f4-fb5b-4581-9dfc-7c3d91880adc',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:97590021-87a0-434c-b3b3-1b169e69d5ba',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:4a5a5126-1fb7-43a4-a203-1b3d49302895',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:9c8ecb41-4591-4047-81af-333068a1df0b',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:7fbaecb9-01ac-44b5-b051-c6fa3ad8819b',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:bb04be37-1c78-4931-bdfc-613b1f250fba',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:bbcd81fe-7734-4cc5-91c4-fa71f341dc17',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:8a869eaf-65d5-4c27-bbab-03918b4575fa',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:e5024898-566c-4d3f-a68e-c4813384a58f',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:566a2772-6859-4037-b562-fadfee52b616',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:d79878cb-1e52-4418-a1a6-56bd70652c6f',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:c112ae62-200a-45a7-b9bc-a00ed67991fe',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:045f8667-04b8-4c40-b42b-a89294919d9f',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:e382031b-f2ae-41bf-be3f-35787bf8678b',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:1acd4332-e2a5-49ee-936f-febcf70fc243',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:f6304537-fc52-4905-b5d3-05d11c071e94',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:fd4777bb-17eb-4a10-b75c-a636a287ceb6',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:da32511b-69f8-408d-a65c-fc5c1d46e108',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:b950bd8f-e0a7-408c-bdcf-5052e62a0fba',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:7daa5fad-b43e-4895-9962-5fea90868395',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:2dc09388-baa9-4dc7-8aad-b60e0b1f9c5c',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:560ec641-fd15-424c-aaa1-d7d907b63380',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:85d4ee3f-cc51-4095-b545-27d2e3890c25',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:4922ae14-f1f6-4761-8fb4-e1b1c3bbe1cf',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:ba9f8ab0-d7a1-4b01-92c2-3f57f74317d0',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:a2c6a6bb-28cb-446b-aed7-9184ba54b23d',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:25e25d72-f209-4d86-bf10-2200038bebdc',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:17f54a9f-ce22-42a6-a0c0-9fd7c1c0e0df',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:2ac767dd-0289-4e96-81a4-363132a584d9',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:58eec9c2-7679-4936-b35a-3b256c26be15',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:15035cf5-a840-4557-a8db-a8d16e364cb8',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:19dead7a-0877-4428-b47f-25a7b971a139',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:6f95e5cb-4adb-4dc9-883a-d4b511d355fe',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:07a05249-e5eb-496a-b932-521af9399924',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:95c0e047-944c-4f11-8b9e-0d4df2ee2391',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:dd121a6e-40e9-4dfa-b6c0-ca0a40180c56',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:bc4a643a-07f7-4952-a849-36fdf59cc36e',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:5f96591a-b1dc-4994-85c7-9db8b2612d15',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:9446e8da-b72b-42f9-b631-a54a6e9737d3',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:702bdfd4-574e-45f7-a0e4-798b17aa165e',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:5cf7e90f-6244-437d-9f15-e20ea75ea1c9',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:e578366b-8785-49a8-b0c5-792a1da64593',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:f886042b-3dd7-4827-a91a-80453766ce16',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:c931d581-1ca5-4eca-8023-7b2c814b0304',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:33026959-5d1d-4a41-bd35-f972e52ed277',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:cab2b702-3649-4dd3-86d7-445fca952594',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:e23cc1dd-cbe3-4c41-a184-3ecce218cd7c',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:f117a46d-59b0-4e3b-9863-c60f77d0a736',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:e2f7c436-ac2b-4734-95de-6a9693fb029f',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:de3dc25f-f19a-4793-9fc7-fa99e36be430',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:af5593f4-7693-4a67-bac9-1b62a84a4c6e',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:0b37ad5b-1a81-4985-a5b1-6886a0f1b090',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:f4902950-ef8b-493f-bee6-9e2fd29e2b80',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:d152f373-1b03-420f-bef9-605f7350d881',
'arn:aws:states:us-west-1:746167823857:execution:ExCameraSF-rjidtO8s4jmA:1558128c-af25-4ed8-9430-f50446a6eaf6'

```

# E2E Latency

In ms

```text

84236.0, 92628.0, 91123.0, 92749.0, 89719.0, 89367.0, 87477.0, 87350.0,
87385.0, 90806.0, 90463.0, 92050.0, 91866.0, 92329.0, 90471.0, 90155.0,
87788.0, 86453.0, 85680.0, 84391.0, 87224.0, 83962.0, 81866.0, 80891.0,
81872.0, 78372.0, 83174.0, 92314.0, 89753.0, 83683.0, 88297.0, 84359.0,
83395.0, 81303.0, 83583.0, 85238.0, 81493.0, 80035.0, 85269.0, 86914.0,
83767.0, 83791.0, 81861.0, 86717.0, 92771.0, 97730.0, 91318.0, 89280.0,
85602.0, 91786.0, 96118.0, 84866.0, 86986.0, 88395.0, 85846.0

```

# Mean and Std

Mean: 87169ms = 87.17s = 01m 27s

Std: 4174ms = 4.2s
